@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
:root{
  --compas-url: url("/assets/compass.png");
  --bg-img: url(/imgs/bgEmail.jpeg);
}
html{
  font-size: 40%;
}
body{
  color: #ddd;
}
.page-content{
  width: 100%;
  height: 100%;
  display: flex;
}
.main-space{
  background-color: #000;
  width: 50%;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.msg{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .9rem;
}
.msg h1{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #08C05E;
  
}
.msg span{
font-family: 'Spartan';
font-style: normal;
font-weight: 700;
font-size: 1.4rem;
line-height: 1.6rem;
color: #FFFFFF;
}
.msg p{
font-family: 'Spartan';
font-style: normal;
font-weight: 400;
font-size: 1.4rem;
line-height: 1.9rem;
color: #FFFFFF;
}
.formulario{
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.formulario span{
font-family: 'Spartan';
font-style: normal;
font-weight: 700;
font-size: 1.4rem;
line-height: 1.9rem;
color: #A8A8A8;
}
.formulario button{
  cursor: pointer;
}
.email-container{
  border-left: .5rem solid #08C05E;
  width: 55.42vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  filter: drop-shadow(4px 10px 15px rgba(0,0,0,0.5));
}
.email-container input[type="email"]{
  padding: 1.5rem 1.7rem;
  border: 0;
  outline: 0;
  flex-grow: 1;
}
/*.email-container button[type="submit"]{*/
.enviar{
  outline: 0;
  border: 0;
  min-width: 4.8rem;
  height: 100%;
  background-color: #8257E5;
  background-image: var(--compas-url);
  background-position: center center;
  background-size: 2.4rem 2.4rem;
  background-repeat: no-repeat;
}
.link{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #8257E5;
}
.background-img{
  width: 50%;
  background-image: var(--bg-img);
  background-position-y: top;
  background-size: 163.194% 115.385%;
  background-position-x: 76%; 
}

@media (max-width: 470px){
  .background-img{
    display: none;
  }
  .main-space{
    width: 100%;
    justify-content: flex-start;
  }
}