<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/animations.css">
  <link rel="stylesheet" href="/styles/page-email-colector.css">
  <script src="/scripts/page-email-collector.js" defer async></script>
  <title>Index</title>
</head>
<body>
  <div class="page-content">
    <div class="main-space">
      <div class="msg">
        <h1 class="animation-fadein">
          Atualize ideias e informações em 5 minutos.
        </h1>
        <span class="animation-fadein">
          Tudo que você precisa saber para começar seu dia bem e informado
        </span>
        <p class="animation-fadein">
          Noticias sobre o universo Rocketseat, e tudo o que precisa para começar o dia melhor. perfeito para se preparar para codar ☕
        </p>
      </div>
        <form action=""  class="formulario animation-fadein">
        <span>Insira seu email</span>
        <div class="email-container">
          <input type="email" placeholder="oi@rocketseat.com">
          <button class="enviar"></button>
        </div>
      </form>
      <div class="link animation-fadein">
        Deixe-me ler primeiro 🡪
      </div>
    </div>
    <div class="background-img">
    </div>
  </div>
</body>
</html>